@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color variables for future use */
  :root {
    /* --color-bg: #fcfaf8; */
    /* --color-accent: #14cf93; */
    /* --color-accent: ##64ffda; */
    /* --color-accent: #61dafb); */
    /* --color-text: #383838; */
    /* --color-dark-2: #282828; */
    /* --color-dark-3: #a2a2a2; */

    /* Light Theme */
    --color-bg: theme(colors.zinc.300);
    --color-bg-secondary: theme(colors.white);
    --color-bg-secondary-light: theme(colors.white/0.5);
    --color-accent: theme(colors.emerald.800);
    --color-accent-light: theme(colors.emerald.800/0.1);
    --color-accent-torch: theme(colors.emerald.700/0.15);
    --color-text: theme(colors.zinc.600);
    --color-dark-1: theme(colors.zinc.900);
    --color-dark-2: theme(colors.zinc.700);
    --color-dark-3: theme(colors.zinc.300);
  }

  /* Dark Theme */
  .dark {
    --color-bg: theme(colors.gray.900);
    --color-bg-secondary: theme(colors.zinc.800);
    --color-bg-secondary-light: theme(colors.zinc.800/0.5);
    --color-accent: theme(colors.emerald.400);
    --color-accent-light: theme(colors.emerald.400/0.1);
    --color-text: theme(colors.zinc.400);
    --color-dark-1: theme(colors.zinc.200);
    --color-dark-2: theme(colors.zinc.300);
    --color-dark-3: theme(colors.zinc.700);
  }

  @font-face {
    font-family: 'agustina';
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  }
}

/* TYPOGRAPHY */

.heading-secondary {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}
